<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
    
    <div class="container">
       <h1>Perguntas</h1> 
       <hr>
       <a class="btn btn-primary" href="/perguntar">Criar sua pergunta</a>
    </div>
        
    <div class="container">

        <% perguntas.forEach(pergunta=>{ %>
            <div class="card mt-2 text-white bg-secondary ">
                <div class="card-body">
                    <div class="card-title">
                        <h2><%= pergunta.titulo %></h2>
                    </div>
                    <div class="card-text">
                        <p><%= pergunta.descricao %></p>
                    </div>
                    <a href="#" class="btn btn-primary">Responder</a>
                </div>    
                
            </div>
       <% }) %>
           
    </div>

</body>

<%- include ('partials/footer.ejs') %>  