<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
               
    <div class="container">

       
        <div class="card mt-2 text-white bg-secondary ">
            <div class="card-body">
                <div class="card-title">
                    <h2><%= pergunta.titulo %></h2>
                </div>
                <div class="card-text">
                    <p><%= pergunta.descricao %></p>
                </div>
                
            </div>    
            
        </div>
        <div class="card-body mt-2">
            <form  method="POST" action="/responder" >
                <h3>Responda</h3>
                <label >Resposta:</label>
                <textarea class="form-control"  placeholder="Digite aqui a sua resposta" name="resposta"></textarea>
                <input name="pergunta" type="hidden" value="<%= pergunta.id%>">
                <button type="submit" class="btn btn-success mt-2">Responder</button>
            </form>
            
        </div>
        <hr>
        <h3>Respostas encontradas:</h3>
            <%respostas.forEach(resposta=>{ %>
                <div class="card mt-2  bg-light">
                    <div class="card-body">
                        <p><%=resposta.corpo%></p>
                    </div>
                </div>
            <%})%>

        
           
    </div>

</body>

<%- include ('partials/footer.ejs') %> 